# Ignore these files
1st kokil favicon transparent.png
2nd kokil favicon transparent.png
IMG_2791.jpg
list of possible gradients.txt
IMG_2791_square.jpg
bits image.jpg
sulochanadevi.png
ryan nerul image.png