body,html{
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-nav{
    width: 100%;
    justify-content: end;
}


.navbar-nav >li a:hover{
    border-bottom-style: solid;
    border-bottom-color: #24C6DC;
}

.navbar{
    width: 100%;
    position:fixed;
    margin: 0;
    border-style: none;
    padding: 0 0 0 1%;
    z-index: 1;
   }

.navbar-brand{
    width: -moz-fit-content;
    width:fit-content;
}

@media (max-width: 765px) {
    main{
        padding-top: 5.5rem !important;
    }

    #content{
        max-width: 80vw ;
    }
}

/*
box-shadow: 4px 3px 8px 1px #717171;
 background-color: rgba(255, 255, 255,0.8);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
*/


.navbar-brand:hover{
    color:#24C6DC;
}




main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

#content{
    padding: 2.5%;
    width: 80vw;
}

/* -----------------Image Area------------------*/

#Image_block{
    padding: 2.5%;
    background-color: #7e7ea156;
    border-radius: 2.5em 2.5em 0 0;
}
/*#a7a5a556*/
#image-box{
    padding: 5%;
    display: flex;
    justify-content: center;
}


#profile-pic{
    width:150%;
    box-shadow: 4px 3px 8px 1px #a7a5a5;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1rem;
    border-radius: 100%;
}

#connect-box{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}

#connect{
    padding: 3%;
    border-radius: 1rem;
    color: #285fc4;
    background-color: rgba(240, 248, 255, 0.762);
}

#break-line{
    z-index:0;
}

/* -----------------ABOUT ME AND EDUCATION------------------*/

#About_Edu{
    padding: 2.5%;
    background-color: aliceblue;
}

#about-me,#education{
    padding: 5%;   
}

.timeline{
    padding-top: 1rem;
}

/*--------------ABOUT ME -----------*/

/*------------------------- EDUCATION ---------------------*/

.edu{
    border-left-style: solid;
    border-left-color: #285fc4;
    padding: 1rem 0 1rem 0;
}

.edu::before{
    content: '';
    position: absolute;
    width: 1rem;
    border-top: 1rem solid #24C6DC;
}

.images{
    height: 5rem;
    border-radius: 100%;
}

.description{
    padding-left: 0.5rem;
}

.description >p {
    margin: 0;
    font-size: 0.9rem;
}

.description > p:nth-child(1){
    font-weight: bold;
    font-size: 1rem;
}

.description >p:nth-child(4){
    color: #87a1a4;
}

/*--------------------------------EXPERIENCE-------------------------------------*/

#Experience{
    padding: 2.5%;
    background-color: aliceblue;
}

#jobs,#projects{
    padding: 5%;
}

.job{
    padding: 1rem 0 1rem 0;
}

.project_on>p ,.project_done >p{
    margin: 0;
    font-size: 0.9rem;
}

.project_on,.project_done{
    border-left-style: solid;
    border-left-color: #285fc4;
    padding: 0 0 1rem 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#spin_1,#spin_2{
    height: 1.5rem;
    width: 1.5rem;
    animation-duration: 1.25s;
}

.project_n{
    font-weight: bold;
}

.super{
    font-weight: 700;
    color: #285f;
}
/*---------------------------------AWARDS & PUBLICATIONS & CONTACT----------------------------------------*/

#Awards,#Publications,#Contact{
    padding: 2.5%;
    background-color: #7e7ea156;
}

#award-list,#pub-list,#contact-list{
    padding: 5%;
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.762);
}

#contact-list{
    color: #24C6DC;
    background-color: black;
    text-align: center;
}

.contact{
    color: #24C6DC;
}

#Email{
    background-color: black;
}

#Email:hover{
    color: aquamarine;
}

.award,.pub{
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.762);
}

.award >p{
    margin: 0;
}

.award>p:nth-child(2){
    color: #87a1a4;
    font-size: 0.9rem;   
}

/*---------------------------SKILLS---------------------------*/

#Skills{
    padding: 7%;
    background-color: aliceblue;
}


.language{
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(254, 254, 254, 0.762);
    text-align: center;
    margin-top: 0.75rem;
}


.lang{
    padding-bottom: 1rem;
}

.logo{
    height: 8rem;
    margin-bottom: 0.5rem;  
}

.learn{
    font-size: 0.8rem;
    color: #87a1a4;
}

/*-------------------------Move up Button-----------------------------*/

#Move{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    padding-right: 2rem;
}

.bi-arrow-up-square-fill{
    color:rgb(65, 65, 210);
    font-size: 3.5rem;
}